.row
  .col-md-6.col-md-offset-3.well.form-hero
    = form_for(@hero) do |f|
      - if @hero.errors.any?
        #error_explanation
          %h2
            = pluralize(@hero.errors.count, "error")
            prohibited this hero from being saved:
          %ul
            - @hero.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :power
        = f.text_field :power, class: 'form-control'

      .form-group
        = f.label :cost
        = f.number_field :cost, class: 'form-control'

      .form-group
        = f.label :img
        = f.text_field :img, class: 'form-control'

      .form-group
        = f.label :type_of
        = f.text_field :type_of, class: 'form-control'

      .form-group
        = f.label :status
        = f.select :status, options_for_select(Hero.statuses.keys), html_options: {class: "form-control"}

      .form-group
        = f.label :owner
        = f.select :owner, options_for_select(Hero.owners.keys), html_options: {class: "form-control"}

      .actions
        = f.submit class: 'btn btn-block btn-primary'
    %a.btn.label.label-info{:href => "/heros/#{@hero.id}"} Show
    %a.btn.label.label-success{:href => "/heros/"} Back