.row
  .col-xs-12
    .alert.alert-success#notice= notice
.row
  .col-xs-10.col-xs-offset-1
    %h1.text-center Listing Heros

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Image
          %th Powerno
          %th Type
          %th Cost
          %th Owner
          %th Status
      %tbody
        = form_tag('/orders', method: :post) do
          .row
            - @heros.each do |hero|
              %tr
                %td= hero.name
                %td= hero.img
                %td= hero.power
                %td= hero.type_of
                %td= hero.cost
                %td= hero.owner
                %td= hero.status
                %td= check_box_tag "hero[]", hero.id, false
                %td
                  %a.btn.btn-xs.btn-info{:href => "/heros/#{hero.id}"} Show
          .row
            = submit_tag "Comprar", class: 'btn btn-block btn-primary'
