
%p#notice= notice
.form-group
  %p.form-control-static
    %strong Name:
    = @hero.name
.form-group
  %p.form-control-static
    %strong Power:
    = @hero.power
.form-group
  %p.form-control-static
    %strong Type Of:
    = @hero.type_of
.form-group
  %p.form-control-static
    %strong Owner:
    = @hero.owner
.form-group
  %p.form-control-static
    %strong Status:
    = @hero.status
.form-group
  %p.form-control-static
    %strong Cost:
    = @hero.cost
.form-group
  %p.form-control-static
    %strong Img:
    = @hero.img


%a.btn.btn-success.btn-block{:href => "/heros/#{@hero.id}/edit"} Editame
%a.btn.btn-warning.btn-block{:href => "/heros/"} volver!


