.row
  .col-md-6.col-md-offset-3
    = form_tag sessions_path do

      .form-group
      = label_tag :email
      = text_field_tag :email, nil, class:'form-control'

      .form-group
      = label_tag :password
      = password_field_tag :password, nil, class:'form-control'

      .form-group
      = submit_tag "Enviar", class:"form-control"