%br
.col-md-8.col-md-offset-2.text-center
  .alert.alert-info
    %h3 Romer create una cuenta :)
.col-md-8.col-md-offset-2.text-center
  .form-group
    %a.btn.btn-lg.btn-primary{ "href" => "/users/new"} Click aqui!