.col-md-8.col-md-offset-2.text-center
  %h1 Creacion de usuario
.col-md-8.col-md-offset-2
  = form_for @user do |f|
    .form-group
      = f.label :name, 'Nombre'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :email, 'Email'
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password, 'Password'
      = f.password_field :password, class: 'form-control'
    .action
      = f.submit class: 'btn btn-primary'