.col-md-8.col-md-offset-2.text-center
  .alert.alert-success
    %h3#notice= notice
.col-md-8.col-md-offset-2
  .form-group
    %p.form-control-static
      %strong Name:
      = @user.name
  .form-group
    %p.form-control-static
      %strong Email:
      = @user.email
  .form-group
    %p.form-control-static
      %strong Password:
      TuPassEstaSegura:)