.row
  .col-md-6.col-md-offset-3.well
    = form_for(@order) do |f|
      - if @order.errors.any?
        #error_explanation
          %h2
            = pluralize(@order.errors.count, "error")
            prohibited this order from being saved:
          %ul
            - @order.errors.full_messages.each do |message|
              %li= message
              
      .actions
        = f.submit class: 'btn btn-block btn-primary'
    %a.btn.label.label-info{:href => "/orders/#{@order.id}"} Show
    %a.btn.label.label-success{:href => "/orders/"} Back

