.row
  .col-xs-12
    .alert.alert-success#notice= notice
.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Orden Numero
          %th Cantidad
          %th Usuario Id
      %tbody
        - @orders.each do |order|
          %tr
            %td= order.id
            %td= order.amount
            %td= order.user_id

            %td
              %a.btn.btn-xs.btn-info{:href => "/orders/#{order.id}"} Show
            %td
              %a.btn.btn-xs.btn-warning{:href => "/orders/#{order.id}/edit"} Edit
            %td
              %a.btn.btn-xs.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", :href => "/orders/#{order.id}", :rel => "nofollow"} Destroy
.row
  .col-xs-12.col-md-6.col-md-offset-3
    %a.btn.btn-block.btn-success{:href => "/orders/new"} Nueva orden

