.row
  .col-md-6.col-md-offset-3.well
    %p#notice= notice
    .form-group
      %p.form-control-static.text-center
        %strong Numero de la orden 
        = @order.id
    .form-group
      %p.form-control-static.descripion-order
        %strong Cantidad:
        = @order.amount
    .form-group
      %p.form-control-static.descripion-order
        %strong Nombre del Usuario:
        = User.find(@order.user_id).name
        = @heros_a
    .form-group
      %p.form-control-static.descripion-order
        %strong Nombre de Heroes:
        - @order.heros.each do |hero|
          %br
          %strong= hero.name

      %a.btn.btn-success.btn-block{:href => "/orders/#{@order.id}/edit"} Editar
      %a.btn.btn-warning.btn-block{:href => "/orders/"} volver