@import "bootstrap-sprockets";
@import "bootstrap";

body{
	overflow-x:hidden; 
}
.col-md-12.form-hero.well {
    padding: 50px;
}

h1.alert.alert-info.text-center.titulo-hero{
	animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: 1;
  font-size: 50px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
p.form-control-static.hero-name.text-center {
    font-size: 50px;
    letter-spacing: -2px;
    color: #ccc;

}
.col-md-6.col-md-offset-3.description-hero.well {
	background-image: url('dc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  margin-top: 35px;
}
p.descripion-hero.form-control-static {
    color: #ccc;
}